{% extends "layout.html" %}
{% block title %}
    add_cash
{% endblock %}

{% block main %}

    <form action="/add_cash" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="add_cash" placeholder="Add cash" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add cash</button>
            </div>
        </fieldset>
    </form>


{% endblock %}