{% extends "layout.html" %}
{% block title %}

    Buy Quote Site

{% endblock %}


{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input class = "form-control mx-auto w-auto mb-2" autocomplete="off" autofocus id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class ="form-group">
            <input class ="form-control mx-auto w-auto mb-2" autocomplete ="off" id="shares" name="shares" placeholder="Enter Amount of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy Now</button>
    </form>

{% endblock %}



