{% extends "layout.html" %}
{% block title %}

    Stock Quote Site

{% endblock %}


{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input class = "form-control mx-auto w-auto mb-2" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stock" name="stock" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search For Stock</button>
    </form>
    <form action ="/quote" method ="post">
        <div class ="form-control mx-auto w-auto" autocomplete ="off" autofocus></div>
    </form>
{% endblock %}



